* linguist-vendored

*.html linguist-vendored=false
*.html linguist-language=HTML

*.js linguist-vendored=false
*.js linguist-language=JavaScript
*.cjs linguist-vendored=false
*.cjs linguist-language=JavaScript

*.ts linguist-vendored=false
*.ts linguist-language=TypeScript

*.php linguist-vendored=false
*.php linguist-language=PHP

*.svg linguist-vendored=false
*.svg linguist-language=HTML

*.css linguist-vendored=false
*.css linguist-language=CSS
*.less linguist-vendored=false
*.less linguist-language=LESS

*.sh linguist-vendored=false
*.sh linguist-language=Shell

*.json linguist-vendored=false
*.json linguist-language=JSON
.*ignore linguist-vendored=false
.*ignore linguist-language=Ignore List

*.md linguist-vendored=false
*.md linguist-language=Markdown